@import 'fonts.sass'

$openSans: 'Open Sans Regular'
$openSansBold: 'Open Sans Bold'
$raleway: 'Raleway'


$accentColor: #ff8b38
$semiGreyColor: #f5f5f5
$semiWhteOpacity: rgba(255,255,255,.75)

@mixin sizing($min,$max,$type)
	#{$type}: clamp($min, 10vw, $max)

*
	box-sizing: border-box

input,
button,
textarea
	outline: none

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li
	margin: 0
	padding: 0

ul,
ol
	list-style-type: none

.displayFlex
	display: flex
	&.colToRow
		flex-direction: column
		align-items: center
		@media screen and (min-width: 767px)
			flex-direction: row
			justify-content: space-between


.body
	font-family: $openSans
	&.overflowYHidden
		overflow: hidden

input,
textarea
	font-family: $openSans

.container
	max-width: 100%
	padding: 0 10px
	margin: auto

.section:nth-of-type(even)
	background-color: $semiGreyColor

.btn,
.tab__link
	font-size: 15px
	cursor: pointer
	transition: all .3s

.btn
	display: inline-block
	padding: 15px 37px
	line-height: 1
	text-decoration: none
	color: #fff
	&--orange
		padding: 15px 23px
		background-color: $accentColor
		border-radius: 3px
		&:hover
			background-color: darken($accentColor, 15)
	&--white
		padding: 12px 30px
		border: 2px solid #fff
		&:hover
			color: #000
			background-color: #fff

.text-accent
	color: $accentColor

.text-center
	text-align: center

.textCenterToLeft
	text-align: center
	@media screen and (min-width: 575px)
		text-align: left



.socials
	display: flex
	justify-content: space-around
	&__link:hover &__pic
		fill: #000
	&__pic
		height: 100%
		max-height: 42px
		max-height: 50px
		fill: #ccc
		transition: fill .3s

.h1
	font-family: $raleway
	font-size: clamp(24px,5vw,36px)

.heading-underlined
	position: relative
	padding-bottom: 30px
	margin-bottom: 25px
	&::after
		content: ''
		position: absolute
		bottom: 0
		height: 3px
		width: 64px
		background-color: #fff
		left: calc(50% - 32px)
	&--accent::after
		background-color: $accentColor
	&--left-align::after
		left: 0


.header
	padding: 20px 0
	background-color: #000
	transition: padding .3s
	.container
		display: flex
		justify-content: space-between
	&--shrink
		z-index: 99
		position: fixed
		top: 0
		left: 0
		right: 0
		padding: 10px 0
	.nav-wrap
		display: none
		align-self: center
	.nav-wrap--active
		display: block
		position: fixed
		z-index: 999
		padding-top: 50px
		top: 0
		bottom: 0
		left: 0
		right: 0
		visibility: visible
		background: linear-gradient(rgba($accentColor, .95),rgba($accentColor, .9))
	.nav-wrap--active .nav__list
		display: flex
		flex-direction: column
	.nav-wrap--active .nav__list-item
		margin-bottom: 20px
	.nav__list
		padding: 30px
		&-item
			margin-bottom: 20px
	.nav__link
		margin: 0 18px
		text-decoration: none
		color: #fff
		font-size: 20px
		transition: color .3s
		&:hover
			color: $accentColor
	.logo__img
		max-width: 70px
		height: auto

.menu-hamburger
	position: relative
	align-items: center
	align-self: center
	height: 16px
	width: 20px
	cursor: pointer
	z-index: 9999
	&--open
		display: flex
	&__line
		margin-top: 7px
		height: 2px
		background-color: $accentColor
		opacity: 1
		visibility: visible
		transition: all 1s

	&::after,
	&::before
		content: ''
		position: absolute
		display: block
		left: 0
		right: 0
		height: 2px
		background-color: $accentColor
		transition: all .3s

	&--open .menu-hamburger__line
		opacity: 0
		visibility: hidden
		transition: all .3s
		background-color: #fff

	&::after
		top: 0

	&--open::after
		top: 0
		transform: scaleX(1.62) translateY(8px) rotate(55deg)
		background-color: #fff

	&::before
		bottom: 0

	&--open::before
		top: 0
		transform: scaleX(1.62) translateY(8px) rotate(-55deg)
		background-color: #fff


.home
	@include sizing(40px, 110px, padding-top)
	@include sizing(40px, 110px, padding-bottom)
	background: url('../img/image-min.jpg') no-repeat center
	background-size: cover
	.container
		display: flex
		justify-content: space-between
		flex-direction: column
	&__col-left,
	&__col-right
		margin-bottom: 30px
	&__col-right
		width: 100%
		max-width: 300px
		margin-left: auto
		margin-right: auto
	&__col-left
		max-width: 515px
	&__ttl,
	&__text,
	.logo
		margin-bottom: 30px
	&__ttl
		color: #fff
	&__ttl::after
		left: calc(50% - 32px)
	&__text
		margin-top: 35px
		color: $semiWhteOpacity
	&__btn
		width: 100%
		border-top-left-radius: 0
		border-top-right-radius: 0
		padding-top: 19px
		padding-bottom: 19px
	&__form
		margin: 30px auto
		border-radius: 3px
		background-color: #fff

		.form__group,
		.form__ttl
			margin-bottom: clamp(20px,5vw,40px)
		.form__group:nth-of-type(3)
			margin-bottom: clamp(20px,5vw,50px)
		.form__group:not(:last-of-type)
			margin-left: clamp(20px,5vw,40px)
			margin-right: clamp(20px,5vw,40px)
		.form__ttl
			padding: 17px
			text-align: center
			font-family: $openSansBold
			font-size: 20px
			background-color: $semiGreyColor

.main-top
	padding: 20px 0
	box-shadow: inset 0px -4px 5px -5px rgba(0, 0, 0, 0.58)
	&__col-left
		max-width: 370px
		margin-bottom: 20px
		margin-left: auto
		margin-right: auto
		text-align: center
	&__ttl
		font-size: 20px
	&__text
		font-size: 14px

.abilities
	padding: clamp(80px, 10vw, 150px) 0 clamp(60px, 10vw, 80px)

.tabs-wrap
	display: flex
	margin: auto
	max-width: 330px
	flex-direction: column
	justify-content: space-between

.tab
	display: flex
	flex-direction: row
	margin-bottom: 30px
	&__link
		height: 50px
		width: 33.33%
		background-color: #333
		border: solid 1px #c7c7c7
		color: #fff
		transition: background .3s
		&--active,
		&:hover
			background-color: $accentColor

.tab__content
	display: flex
	flex-direction: column-reverse
	text-align: center
	opacity: 0
	height: 0
	width: 0
	overflow: hidden
	visibility: hidden
	transition: all .5s
	&--active
		width: auto
		height: auto
		visibility: visible
		opacity: 1
	&-right
		margin-top: 30px
	.tab__ttl
		margin-bottom: clamp(20px, 2vw, 35px)
	.tab__text
		margin: 12px 0
	.tab__img
		max-width: 100%
	&-link
		margin-top: clamp(20px, 2vw, 35px)

.features
	padding: clamp(50px, 2vw, 105px) 0 clamp(40px, 10vw, 90px)
	.container
		align-content: center
		align-items: center
	&__img
		display: block
		width: 100%
		max-width: 525px
	&__text-wrap
		max-width: 480px
	&__text
		margin-top: 25px

.process
	padding: clamp(50px,10vw,105px) 0 clamp(40px,10vw,60px)

.process__item
	width: 100%
	margin-top: clamp(50px,10vw,75px)
	max-width: 360px
	&-ttl,
	.process__pic
		margin-bottom: 20px
	.process__pic
		margin-bottom: 20px
		fill: $accentColor
		border-radius: 50%
		width: 70px
		height: 70px
		padding: 18px
		border: 2px solid $accentColor


.pricing
	padding: clamp(50px,10vw,100px) 0 clamp(40px,10vw,90px)
	&__ttl
		margin-bottom: 25px
	.cards-wrap
		margin-top: clamp(40px, 10vw, 75px)
	.card
		width: 100%
		max-width: 300px
		margin-bottom: 30px
		&:nth-of-type(2)
			order: -1
		&__top,
		&__ttl
			background-color: #333
		&__ttl
			padding: 20px 0
			margin-bottom: 1px
			border-bottom: 1px solid transparent
		&__top
			padding-top: 1px
			border-bottom: 6px solid $accentColor
		&__sub-ttl
			padding: 15px 0
			font-style: italic
			color: #8d8d8d
		&__ttl,
		&__price,
		&__sub-ttl--accent
			color: #fff
		&__sub-ttl--accent
			padding-bottom: 9px
			font-style: normal
			font-family: $openSans
			background-color: $accentColor
		&__price,
		&__sub-ttl
			font-family: $raleway
		&__price
			padding: 10px 0
			margin-top: 10px
			font-size: 70px
		&__line
			padding: 12px
			margin-bottom: 1px
			background-color: #fff
			color: #8e8f92
			border-bottom: 1px solid transparent


.testimonials
	padding: clamp(50px,10vw,100px) 0 clamp(40px,10vw,70px)
	&__text
		margin-top: 25px

.testimonial-wrap
	margin-top: 50px

.testimonial
	margin-bottom: 40px
	width: 100%
	max-width: 273px
	&__comment
		position: relative
		padding: 22px 10px
		margin-bottom: 23px
		border-radius: 2px
		background-color: $semiGreyColor
		&::after
			content: ''
			z-index: -1
			position: absolute
			bottom: -11px
			left: 9px
			width: 40px
			height: 40px
			transform: rotate3d(-71,-37,66,67deg)
			background-color: inherit

.author
	display: flex
	align-items: center
	&__img
		margin-right: 15px
	&__name
		font-size: 20px
		font-family: $openSansBold
	&__job
		color: #a4a5a8

.custom
	padding: clamp(30px,10vw,65px) 0 clamp(25px,10vw,50px)
	background: url('../img/u25_state0-min.jpg') no-repeat center
	background-size: cover
	&__ttl

		color: #fff
	&__text
		color: rgba(255, 255, 255, 0.5)
	&__text,
	&__link
		margin-top: 20px
	&__link
		margin-bottom: 12px

.contact
	padding: clamp(50px,10vw,90px) 0 clamp(40px,10vw,60px)
	&__text
		margin: 22px 0
		color: #c3c3c5


.contact__form
	margin-top: 50px

.form
	&__col-left
	&__group
		margin-bottom: 20px
		.form__btn
			margin-top: clamp(30px,5vw,43px)

	&__input,
	&__textarea
		display: block
		width: 100%
		padding: 6px 12px
		font-size: 14px
		border: none
		border-bottom: 1px solid #d6d6d6
		&::placeholder
			color: #d6d6d6
	&__textarea
		resize: none
	&__btn
		display: block
		margin: auto
		border: none
		color: #fff


.footer
	padding: 15px 0
	background-color: #000
	.container
		text-align: center
	&__socials
		max-width: 325px
		margin: auto
		.socials__pic
			max-height: 24px
			fill: $semiWhteOpacity
		.socials__link:hover .socials__pic
			fill: red
	.copy
		margin-top: 15px
		color: #505050

@media screen and (min-width: 575px)

	.container
		max-width: 1140px

	.home
		&__form
			margin-top: 0
		&__ttl::after
			left: 0
		.container
			flex-direction: row
		&__col-right
			max-width: 240px
			margin-right: 0
		&__col-left
			margin-right: 30px

	.features
		.container
			align-items: start
			flex-direction: row
		&:nth-of-type(even) .container
			flex-direction: row-reverse
		&:nth-of-type(even) .features__img-wrap
			margin-left: clamp(40px,10vw,190px)
		&:nth-of-type(odd) .features__img-wrap
			margin-right: clamp(40px,10vw,190px)
		&__ttl::after
			left: 0


	.pricing .card
		max-width: 344px

	.testimonial:nth-of-type(even)
		margin-right: 20px
		margin-left: 20px

	.contact__form
		display: flex
		justify-content: space-between
		flex-flow: row wrap

	.form
		&__col-left
			.form__group:last-of-type
				margin-bottom: 0
		&__col-right
			.form__group
				margin: 0
				height: 100%

		&__col-right,
		&__col-left
			width: 47%
			max-width: 526px
		&__group
			margin-bottom: 29px
		&__col-right + &__group
			width: 100%
		&__textarea
			height: inherit



@media screen and (min-width: 767px)

	.header
		.menu-hamburger
			display: none
		.nav
			&-wrap
				display: block
			&__list
				padding: 0
				display: inline-flex
			&__list-item
				margin-bottom: 0
			&__link
				font-size: 14px

	.main-top
		.container
			display: flex
			justify-content: space-between
		&__col-left
			max-width: 360px
			margin-left: 0
			margin-right: 20px
			margin-bottom: 0
			text-align: left
		&__socials
			display: inline-flex
			align-self: center
			width: calc(100% - 440px)

	.home
		&__col-right
			max-width: 360px

	.tabs-wrap
		max-width: 100%
		flex-direction: row
		justify-content: space-between
	.tab
		flex-direction: column
		width: 110px
		margin-right: clamp(10px, 5vw, 80px)
		&__link
			width: inherit
			height: 110px


	.tab__content
		flex-direction: row
		justify-content: space-between
		text-align: left
		&-left,
		&-right
			padding-left: 20px
			padding-right: 20px
			max-width: 50%
		&-left
			max-width: 60%
		&-right
			margin-top: 0

	.process__item
		margin-bottom: 40px
		&:nth-of-type(even)
			margin-left: 20px
			margin-right: 20px


	.pricing
		.cards-wrap
			flex-direction: row
			justify-content: space-between
			align-items: flex-end
		.card:nth-of-type(2)
			order: 0
			margin-left: 20px
			margin-right: 20px


@media screen and (min-width: 991px)

	.form
		&__col-left
			margin-bottom: 0
