@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/Open Sans Bold.woff2") format("woff2");
  src: url("../fonts/Open Sans Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/Open Sans Regular.woff2") format("woff2");
  src: url("../fonts/Open Sans Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../fonts/Open Sans SemiBold.woff2") format("woff2");
  src: url("../fonts/Open Sans SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway Bold.woff2") format("woff2");
  src: url("../fonts/Raleway Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.woff2") format("woff2");
  src: url("../fonts/Raleway.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/Raleway Light.woff2") format("woff2");
  src: url("../fonts/Raleway Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

input,
button,
textarea {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

.displayFlex {
  display: flex;
}
.displayFlex.colToRow {
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .displayFlex.colToRow {
    flex-direction: row;
    justify-content: space-between;
  }
}

html,
body {
  min-height: 100vh;
}

.body {
  font-family: "Open Sans Regular";
}
.body.overflowYHidden {
  overflow: hidden;
}

input,
textarea {
  font-family: "Open Sans Regular";
}

.container {
  max-width: 100%;
  padding: 0 10px;
  margin: auto;
}

.section:nth-of-type(even) {
  background-color: #f5f5f5;
}

.svg-b {
  display: none;
}

.btn,
.tab__link {
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn {
  display: inline-block;
  padding: 15px 37px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}
.btn--orange {
  padding: 15px 23px;
  background-color: #ff8b38;
  border-radius: 3px;
}
.btn--orange:hover {
  background-color: #eb6200;
}
.btn--white {
  padding: 12px 30px;
  border: 2px solid #fff;
}
.btn--white:hover {
  color: #000;
  background-color: #fff;
}

.text-accent {
  color: #ff8b38;
}

.text-center {
  text-align: center;
}

.textCenterToLeft {
  text-align: center;
}
@media screen and (min-width: 575px) {
  .textCenterToLeft {
    text-align: left;
  }
}

.socials {
  display: flex;
  justify-content: space-around;
}
.socials__link:hover .socials__pic {
  fill: #000;
}
.socials__pic {
  width: 100%;
  height: 100%;
  max-height: 30px;
  fill: #ccc;
  transition: fill 0.3s;
}

.h1 {
  font-family: "Raleway";
  font-size: clamp(24px, 5vw, 36px);
}

.heading-underlined {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 25px;
}
.heading-underlined::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 64px;
  background-color: #fff;
  left: calc(50% - 32px);
}
.heading-underlined--accent::after {
  background-color: #ff8b38;
}
.heading-underlined--left-align::after {
  left: 0;
}

.header {
  padding: 20px 0;
  background-color: #000;
  transition: padding 0.3s;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header--shrink {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
.header .nav-wrap {
  display: none;
  align-self: center;
}
.header .nav-wrap--active {
  display: block;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
  background: linear-gradient(rgba(255, 139, 56, 0.95), rgba(255, 139, 56, 0.9));
}
.header .nav-wrap--active .nav__list {
  display: flex;
  flex-direction: column;
}
.header .nav-wrap--active .nav__list-item {
  margin-bottom: 20px;
}
.header .nav__list {
  padding: 30px;
}
.header .nav__list-item {
  margin-bottom: 20px;
}
.header .nav__link {
  margin: 0 18px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
}
.header .nav__link:hover {
  color: #ff8b38;
}
.header .logo__img {
  max-width: 70px;
  height: auto;
}

.hamburger {
  position: relative;
  align-items: center;
  align-self: center;
  height: 16px;
  width: 20px;
  cursor: pointer;
  z-index: 9999;
}
.hamburger--open {
  display: flex;
}
.hamburger__line {
  margin-top: 7px;
  height: 2px;
  background-color: #ff8b38;
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
.hamburger::after, .hamburger::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff8b38;
  transition: all 0.3s;
}
.hamburger--open .hamburger__line {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  background-color: #fff;
}
.hamburger::after {
  top: 0;
}
.hamburger--open::after {
  top: 0;
  transform: scaleX(1.62) translateY(8px) rotate(55deg);
  background-color: #fff;
}
.hamburger::before {
  bottom: 0;
}
.hamburger--open::before {
  top: 0;
  transform: scaleX(1.62) translateY(8px) rotate(-55deg);
  background-color: #fff;
}

.main__mt20 {
  margin-top: 50px;
}

.home {
  padding-top: clamp(40px, 10vw, 110px);
  padding-bottom: clamp(40px, 10vw, 110px);
  background: url("../img/image-min.jpg") no-repeat center;
  background-size: cover;
}
.home .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.home__col-left, .home__col-right {
  margin-bottom: 30px;
}
.home__col-right {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.home__col-left {
  max-width: 515px;
}
.home__ttl, .home__text,
.home .logo {
  margin-bottom: 30px;
}
.home__ttl {
  color: #fff;
}
.home__ttl::after {
  left: calc(50% - 32px);
}
.home__text {
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.75);
}
.home__btn {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 19px;
  padding-bottom: 19px;
}
.home__form {
  margin: 30px auto;
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
}
.home__form .form__input {
  padding-top: 4px;
  padding-bottom: 4px;
}
.home__form .form__group:not(:last-of-type),
.home__form .form__ttl {
  margin-bottom: clamp(20px, 5vw, 40px);
}
.home__form .form__group:nth-of-type(3) {
  margin-bottom: clamp(20px, 5vw, 50px);
}
.home__form .form__group:not(:last-of-type) {
  margin-left: clamp(20px, 5vw, 40px);
  margin-right: clamp(20px, 5vw, 40px);
}
.home__form .form__group:last-of-type {
  margin-bottom: 0;
}
.home__form .form__ttl {
  padding: 14px 0 15px;
  text-align: center;
  font-family: "Open Sans Bold";
  font-size: 20px;
  background-color: #f5f5f5;
}

.main-top {
  padding: 20px 0;
  box-shadow: inset 0px -4px 5px -5px rgba(0, 0, 0, 0.58);
}
.main-top__col-left {
  max-width: 370px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main-top__ttl {
  font-size: 20px;
}
.main-top__text {
  font-size: 14px;
}

.abilities {
  padding: clamp(80px, 10vw, 150px) 0 clamp(60px, 10vw, 80px);
}

.tabs-wrap {
  display: flex;
  margin: auto;
  max-width: 330px;
  flex-direction: column;
  justify-content: space-between;
}

.tab {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.tab__link {
  height: 50px;
  width: 33.33%;
  background-color: #333;
  border: solid 1px #c7c7c7;
  color: #fff;
  transition: background 0.3s;
}
.tab__link--active, .tab__link:hover {
  background-color: #ff8b38;
}

.tab__content {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.5s;
}
.tab__content--active {
  width: auto;
  height: auto;
  visibility: visible;
  opacity: 1;
}
.tab__content-right {
  margin-top: 30px;
}
.tab__content .tab__ttl {
  margin-bottom: clamp(20px, 2vw, 35px);
}
.tab__content .tab__text {
  margin: 12px 0;
}
.tab__content .tab__img {
  max-width: 100%;
}
.tab__content-link {
  margin-top: clamp(20px, 2vw, 35px);
}

.features {
  padding: clamp(50px, 2vw, 105px) 0 clamp(40px, 10vw, 90px);
}
.features .container {
  align-content: center;
  align-items: center;
}
.features__img {
  display: block;
  width: 100%;
  max-width: 525px;
}
.features__text-wrap {
  max-width: 480px;
}
.features__text {
  margin-top: 25px;
}

.text-block {
  position: relative;
  margin-top: 35px;
  padding-left: 75px;
  text-align: left;
}
.text-block::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 12px;
  width: 21px;
  height: 17px;
  background-color: #ff8b38;
  -webkit-mask-image: url("../img/svg/cloud-download-alt-solid-min.svg");
}
.text-block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #ff8b38;
}

.process {
  padding: clamp(50px, 10vw, 105px) 0 clamp(40px, 10vw, 60px);
}

.process__item {
  width: 100%;
  margin-top: clamp(50px, 10vw, 75px);
  max-width: 360px;
}
.process__item-ttl,
.process__item .process__pic {
  margin-bottom: 20px;
}
.process__item .process__pic {
  margin-bottom: 20px;
  fill: #ff8b38;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 18px;
  border: 2px solid #ff8b38;
}

.pricing {
  padding: clamp(50px, 10vw, 100px) 0 clamp(40px, 10vw, 90px);
}
.pricing__ttl {
  margin-bottom: 25px;
}
.pricing .cards-wrap {
  margin-top: clamp(40px, 10vw, 75px);
}
.pricing .card {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}
.pricing .card:nth-of-type(2) {
  order: -1;
}
.pricing .card__top, .pricing .card__ttl {
  background-color: #333;
}
.pricing .card__ttl {
  padding: 20px 0;
  margin-bottom: 1px;
  border-bottom: 1px solid transparent;
}
.pricing .card__top {
  padding-top: 1px;
  border-bottom: 6px solid #ff8b38;
}
.pricing .card__sub-ttl {
  padding: 15px 0;
  font-style: italic;
  color: #8d8d8d;
}
.pricing .card__ttl, .pricing .card__price, .pricing .card__sub-ttl--accent {
  color: #fff;
}
.pricing .card__sub-ttl--accent {
  padding-bottom: 9px;
  font-style: normal;
  font-family: "Open Sans Regular";
  background-color: #ff8b38;
}
.pricing .card__price, .pricing .card__sub-ttl {
  font-family: "Raleway";
}
.pricing .card__price {
  padding: 10px 0;
  margin-top: 10px;
  font-size: 70px;
}
.pricing .card__line {
  padding: 12px;
  margin-bottom: 1px;
  background-color: #fff;
  color: #8e8f92;
  border-bottom: 1px solid transparent;
}

.testimonials {
  padding: clamp(50px, 10vw, 100px) 0 clamp(40px, 10vw, 70px);
}
.testimonials__text {
  margin-top: 25px;
}

.slider-btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border: none;
  border-radius: 50%;
  background: radial-gradient(circle at top center, #e6e6e6 10%, #787878);
}
.slider-btn.next {
  margin-left: 20px;
}
.slider-btn.prev {
  margin-right: 20px;
}

.testimonial-wrap-desktop {
  display: none;
}

.testimonial-inner {
  margin-top: 50px;
}

.testimonial {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  max-width: 273px;
}
.testimonial__comment {
  position: relative;
  padding: 22px 10px;
  margin-bottom: 23px;
  border-radius: 2px;
  background-color: #f5f5f5;
}
.testimonial__comment::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -11px;
  left: 9px;
  width: 40px;
  height: 40px;
  transform: rotate3d(-71, -37, 66, 67deg);
  background-color: inherit;
}

.author {
  display: flex;
  align-items: center;
}
.author__img {
  margin-right: 15px;
}
.author__name {
  text-align: left;
  font-size: 20px;
  font-family: "Open Sans Bold";
}
.author__job {
  color: #a4a5a8;
}

.custom {
  padding: clamp(30px, 10vw, 65px) 0 clamp(25px, 10vw, 50px);
  background: url("../img/u25_state0-min.jpg") no-repeat center;
  background-size: cover;
}
.custom__ttl {
  color: #fff;
}
.custom__text {
  color: rgba(255, 255, 255, 0.5);
}
.custom__text, .custom__link {
  margin-top: 20px;
}
.custom__link {
  margin-bottom: 12px;
}

.contact {
  padding: clamp(50px, 10vw, 90px) 0 clamp(40px, 10vw, 60px);
}
.contact__text {
  margin: 22px 0;
  color: #c3c3c5;
}

.contact__form {
  margin-top: 50px;
}

.form__group {
  margin-bottom: 20px;
}
.form__group .form__btn {
  margin-top: clamp(30px, 5vw, 43px);
}
.form__input, .form__textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
}
.form__input::placeholder, .form__textarea::placeholder {
  color: #d6d6d6;
}
.form__textarea {
  resize: none;
}
.form__btn {
  display: block;
  margin: auto;
  border: none;
  color: #fff;
}

.footer {
  padding: 15px 0;
  background-color: #000;
}
.footer .container {
  text-align: center;
}
.footer__socials {
  max-width: 325px;
  margin: auto;
}
.footer__socials .socials__pic {
  max-height: 24px;
  fill: rgba(255, 255, 255, 0.75);
}
.footer__socials .socials__link:hover .socials__pic {
  fill: red;
}
.footer .copy {
  margin-top: 15px;
  color: #505050;
}

@media screen and (min-width: 575px) {
  .container {
    max-width: 1140px;
  }

  .home__form {
    margin-top: 0;
  }
  .home__ttl::after {
    left: 0;
  }
  .home .container {
    flex-direction: row;
  }
  .home__col-right {
    max-width: 240px;
    margin-right: 0;
  }
  .home__col-left {
    margin-right: 30px;
  }

  .features .container {
    align-items: start;
    flex-direction: row;
  }
  .features:nth-of-type(even) .container {
    flex-direction: row-reverse;
  }
  .features:nth-of-type(even) .features__img-wrap {
    margin-left: clamp(40px, 10vw, 190px);
  }
  .features:nth-of-type(odd) .features__img-wrap {
    margin-right: clamp(40px, 10vw, 190px);
  }
  .features__ttl::after {
    left: 0;
  }

  .pricing .card {
    max-width: 344px;
  }

  .testimonial:nth-of-type(even) {
    margin-right: 20px;
    margin-left: 20px;
  }

  .contact__form {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .form__col-left .form__group:last-of-type {
    margin-bottom: 0;
  }
  .form__col-right .form__group {
    margin: 0;
    height: 100%;
  }
  .form__col-right, .form__col-left {
    width: 47%;
    max-width: 526px;
  }
  .form__group {
    margin-bottom: 29px;
  }
  .form__col-right + .form__group {
    width: 100%;
  }
  .form__textarea {
    height: inherit;
  }
}
@media screen and (min-width: 767px) {
  .header .hamburger {
    display: none;
  }
  .header .nav-wrap {
    display: block;
  }
  .header .nav__list {
    padding: 0;
    display: inline-flex;
  }
  .header .nav__list-item {
    margin-bottom: 0;
  }
  .header .nav__link {
    font-size: 14px;
  }

  .main-top .container {
    display: flex;
    justify-content: space-between;
  }
  .main-top__col-left {
    max-width: 360px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 0;
    text-align: left;
  }
  .main-top__socials {
    display: inline-flex;
    align-self: center;
    width: calc(100% - 440px);
  }

  .home__col-right {
    max-width: 360px;
  }

  .tabs-wrap {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .tab {
    flex-direction: column;
    width: 110px;
    margin-right: clamp(10px, 5vw, 80px);
  }
  .tab__link {
    width: inherit;
    height: 110px;
  }

  .tab__content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .tab__content-left, .tab__content-right {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 50%;
  }
  .tab__content-left {
    max-width: 60%;
  }
  .tab__content-right {
    margin-top: 0;
  }

  .process__item {
    margin-bottom: 40px;
  }
  .process__item:nth-of-type(even) {
    margin-left: 20px;
    margin-right: 20px;
  }

  .testimonial-wrap-desktop {
    display: block;
  }

  .testimonial-wrap-mobile {
    display: none;
  }

  .pricing .cards-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .pricing .card:nth-of-type(2) {
    order: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 991px) {
  .socials__pic {
    max-height: 46px;
  }

  .form__col-left {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
